header
{
    margin-left: 150px;
}

body 
{
    font-family: Helvetica;
    text-align: center;
    background-color: rgb(75, 75, 75);
}

.imghome
{
    margin-right: 10px;
    display: inline;
    text-decoration: none;
}

h1 {
    color: orangered;
    vertical-align: 100%;
    display: inline;
}

p 
{
    color: orangered;
    font-size: 25px;
    border: 1px solid orangered;
    max-width: 1000px;
    word-wrap: break-word;
    margin: 0 auto;
    margin-left: 500px;
}

main h1
{
    margin-left: 150px;
}

main p
{
    font-size: 25px;
}

main a
{
    text-decoration: underline;
    color: orangered;
    font-size: 25px;
    margin-top: 0;
    margin-left: 160px;
}

main a:hover
{
    color: white;
    background-color: orangered;
}

.topbar
{
    height: 15%;
    width: 100%;
    background-color: orangered;
    color: white;
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.topbar a
{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 4% 4%;
    line-height: 15%;
}

.topbar a:hover
{
    color: orangered;
    background-color: white;
}

.groupPic 
{
    top: 20px;
    height: 300px;
    width: 500px;
    border: 2px solid orangered;
    border-radius: 2px;
    margin-left: 150px;
}

.lists
{
    display: flex;
    text-align: center;
    justify-content: center;
}

.userList p
{
    margin-left: 150px;
}

.adminList p
{
    margin-left: 50px;
}

.sidebar img
{
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 2px;
}

.sidebar
{
    height: 100%;
    width: 12%;
    background-color: orangered;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar a
{
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 20% 10%;
}

.sidebar a:hover
{
    color: orangered;
    background-color: white;
}

hr
{
    border-color: orangered;
}

i 
{
    margin-left: 150px;
    color: orangered;
}


