<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/groupHomeStyle.css">

    <style>
        #clock {
            font-size: 24px;
            font-family: 'Arial', sans-serif;
            margin-left: 150px;
            margin-bottom: 25px;
        }
    </style>
</head>

<body>

<header>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>   
    <br/>
    <h1>Bem-vindo ao grupo {{ groupName }}.</h1>
    {% if error == '0' %}
        <p>Gerado com sucesso!</p>
    {% endif %}
    <hr/>
</header>

<div id="clock">

    <script>
        function updateClock() {
            var now = new Date();

            var day = now.getDate();
            var month = now.getMonth() + 1;
            var year = now.getFullYear();

            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            day = day < 10 ? '0' + day : day;
            month = month < 10 ? '0' + month : month;

            hours = hours < 10 ? '0' + hours : hours;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;

            var currentDate = day + '/' + month + '/' + year;
            var currentTime = hours + ':' + minutes + ':' + seconds;

            document.getElementById('clock').innerHTML = currentDate + '<br>' + currentTime;

        }

        setInterval(updateClock, 1000);

        updateClock();
    </script>

</div>


<nav class="sidebar">
    <br />
    <br />
    <br />
    <img src="{{ picture.url }}" alt="Imagem do perfil">
    <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
    <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuário</a>
    <a href="/ponteiro/{{ id }}/home/">Início</a>
    <a href="/ponteiro/{{ id }}/notifications/">Notificações</a>
    <a href="/ponteiro/{{ id }}/config/">Configurações</a>
    <a href="/ponteiro/{{ id }}/logout/">Sair</a>
</nav>

<nav class="topbar">
    <a href="/ponteiro/{{ id }}/group/{{ groupID }}/">Registrador</a>
    <a href="">Chat</a>
    <a href="">Mural</a>
    <a href="/ponteiro/{{ id }}/group/{{ groupID }}/data/">Dados</a>
    <a href="">Configurações</a>
</nav>

<main>
    <form id="actionForm" action="{% url 'clickRegistrator' id=id groupID=groupID%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}  
        <input type="hidden" name="value" id="value" value="">
        <input type="hidden" name="timestamp" id="timestamp" value="">  
        {% if state == '1' %}
            <button type="submit" onclick="performAction(0)">Encerrar</button>
        {% else %}
            <button type="submit" onclick="performAction(1)">Iniciar</button>
        {% endif %}
    </form>

    <a href="/ponteiro/{{ id }}/group/{{ groupID }}/generateReceipt"><button>Emitir comprovante</button></a>
    {% if isADM %}
        <a href="/ponteiro/{{ id }}/group/{{ groupID }}/generateReport"><button>Gerar relatório</button></a>
    {% endif %}

    <script>
        function performAction(actionValue) 
        {
            document.getElementById('value').value = actionValue;

            var now = new Date();

            var day = now.getDate();
            var month = now.getMonth() + 1;
            var year = now.getFullYear();

            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            day = day < 10 ? '0' + day : day;
            month = month < 10 ? '0' + month : month;

            hours = hours < 10 ? '0' + hours : hours;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;

            var timestamp = day + '/' + month + '/' + year + " - " + hours + ':' + minutes + ':' + seconds;

            document.getElementById('timestamp').value = timestamp;

            document.getElementById('actionForm').submit();
        }
    </script>
</main>

<footer>
    <hr />
    <i>PONTEIRO IFSP &copy;</i>
</footer>

</body>

</html>