<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/registerStyle.css' %}">
    <img src="{% static 'img/logo.png' %}" alt="Logo do site">
</head>

<body>
        <div> 

            {% if error == '0' %}
            <b>Cadastro realizado com sucesso!</b>
            <br />
            <br />
            {% endif %}

            {% if error == '1' %}
                <b>O cadastro não foi realizado, já existe outra conta com o mesmo identificador</b>
                <br />
                <br />
            {% endif %}

            {% if error == '2' %}
                <b>O cadastro não foi realizado, campos obrigatórios estão vazios</b>
                <br />
                <br />
            {% endif %}

            {% if error == '3' %}
            <b>O cadastro não foi realizado, os campos de registrador e senha devem ter pelo menos 5 caracteres</b>
            <br />
            <br />
            {% endif %}

            {% if error == '4' %}
            <b>O cadastro não foi realizado, os campos de registrador e senha não devem ultrapassar 20 caracteres</b>
            <br />
            <br />
            {% endif %}


            <a href="/ponteiro/login"> <button>Mudar para Entrada</button> </a>
            <hr />

            <form action="{% url 'registerValidate' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Identificador: " name="userlogin">
                <input type="password" placeholder="Senha: " name="userpass">
                <input type="submit" value="Cadastrar">
            </form>
        </div>
</body>

<footer>
    <hr />
    <i>PONTEIRO IFSP &copy;</i>
</footer>

</html>