<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/titleStyle.css' %}">
    <img src="{% static 'img/logo.png' %}" alt="Logo do site">
</head>

<body>
    <h1>Ponteiro</h1>
    <a href='/ponteiro/login'> <button> Acessar </button> </a>
</body>

<footer>
    <hr />
    <i>PONTEIRO IFSP &copy;</i>
    <br />
    <a href='https://github.com/entomo05/Ponteiro'>Repositório</a>
</footer>

</html>