<!DOCTYPE html>
{% load static %}
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Puntero</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/homeConfigStyle.css">
</head>

<body>

<header>
    <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Logotipo del site"></a>
    <hr />
</header>

<nav class="sidebar">
    <br />
    <br />
    <br />
    <img src="{{ picture.url }}" alt="Imagen de perfil">
    <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
    <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuario</a>
    <a href="/ponteiro/{{ id }}/home/">Inicio</a>
    <a href="/ponteiro/{{ id }}/notifications/">Notificaciones</a>
    <a href="/ponteiro/{{ id }}/config/">Ajustes</a>
    <a href="/ponteiro/{{ id }}/logout/">Salir</a>
</nav>


<main>
    <div class="theme">
        <p>Tema: </p>
        <a href="/ponteiro/{{ id }}/configvalidate/?themechange=light">Claro</a>
        <a href="/ponteiro/{{ id }}/configvalidate/?themechange=dark">Oscuro</a>
    </div>
    <br />
    <div class="language">
        <p>Idioma: </p>
        <a href="/ponteiro/{{ id }}/configvalidate/?languagechange=pt">Portugués</a>
        <a href="/ponteiro/{{ id }}/configvalidate/?languagechange=en">Inglés</a>
        <a href="/ponteiro/{{ id }}/configvalidate/?languagechange=es">Español</a>
    </div>
</main>

<footer>
    <hr />
    <i>PUNTERO IFSP &copy;</i>
</footer>

</body>

</html>