<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/groupEditStyle.css">
</head>

<body>
    <header>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Logo do site"></a>
        <hr />
    </header>

    {% if error == '0' %}
    <b>As mudanças foram efetuadas com sucesso!</b>
    <br />
    <br />
    {% endif %}

    {% if error == '1' %}
    <b>As mudanças não foram efetuadas, a foto é inválida.</b>
    <br />
    <br />
    {% endif %}

    {% if error == '2' %}
        <b>As mudanças não foram efetuadas, a descrição deve conter, no máximo, 800 caracteres.</b>
        <br />
        <br />
    {% endif %}

    {% if error == '3' %}
        <b>As mudanças não foram efetuadas, a senha deve conter entre 5 e 20 caracteres.</b>
        <br />
        <br />
    {% endif %}

    {% if error == '4' %}
        <b>Não foi detectada nenhuma mudança.</b>
        <br />
        <br />
    {% endif %}

    <form action="{% url 'groupeditValidate' id=id groupID=groupID%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="fileInput">Foto</label>
        <input type="file" name="picture">
        <input class="name" placeholder="Nome: " name="name">
        <textarea class="description" placeholder="Descrição: " name="description"></textarea>
        <input type="submit" value="Editar">
    </form>

    <nav class="sidebar">
        <br />
        <br />
        <br />
        <img src="{{ picture.url }}" alt="Imagen de perfil">
        <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
        <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuario</a>
        <a href="/ponteiro/{{ id }}/home/">Inicio</a>
        <a href="/ponteiro/{{ id }}/notifications/">Notificaciones</a>
        <a href="/ponteiro/{{ id }}/config/">Ajustes</a>
        <a href="/ponteiro/{{ id }}/logout/">Salir</a>
    </nav>
    
    
    <nav class="topbar">
        <a href="/ponteiro/{{ id }}/group/{{ groupID }}/">Registrador</a>
        <a href="">Chat</a>
        <a href="">Mural</a>
        <a href="/ponteiro/{{ id }}/group/{{ groupID }}/data/">Datos</a>
        <a href="">Ajustes</a>
    </nav>

    <footer>
        <hr />
        <i>PONTEIRO IFSP &copy;</i>
    </footer>

</body>

</html>