<!DOCTYPE html>
{% load static %}
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Puntero</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/homeStyle.css">
</head>

<body>

<header>
    <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Logotipo del site"></a>
    <h1>Bienvenido, {{ id }}</h1>
</header>

<nav class="sidebar">
    <br />
    <br />
    <br />
    <img src="{{ picture.url }}" alt="Imagen de perfil">
    <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
    <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuario</a>
    <a href="/ponteiro/{{ id }}/home/">Inicio</a>
    <a href="/ponteiro/{{ id }}/notifications/">Notificaciones</a>
    <a href="/ponteiro/{{ id }}/config/">Ajustes</a>
    <a href="/ponteiro/{{ id }}/logout/">Salir</a>
</nav>

<main>
    {% if error == '0' %}
        <p>¡Has abandonado con éxito el grupo!</p>
    {% endif %}
    {% if error == '1' %}
        <p>¡Únete al grupo antes de intentar acceder a él!</p>
    {% endif %}
    {% if error == '2' %}
        <p>¡Grupo eliminado exitosamente!</p>
    {% endif %}
    <hr />
    <a href="/ponteiro/{{ id }}/home/createGroup/">Crea un grupo</a>
    <a href="/ponteiro/{{ id }}/home/groupSearch/">Grupo de búsqueda</a>
    <br />
    <br />
    <br />
    <div class="groups">
        <h1>Grupos: </h1>
        </br>
        {% if groups %}
            {% for gpPic, gpName, gpID in groupList reversed%}
                <img src="{{ gpPic.url }}" alt="Imagen de grupo">
                </br>
                <a href="/ponteiro/{{ id }}/group/{{ gpID }}">{{ gpName }}</a><br/><br/>
            {% endfor %}
        {% else %}
            <p>{{ groupList }}</p>
        {% endif %}
    </div>
</main>

<footer>
    <hr />
    <i>PUNTERO IFSP &copy;</i>
</footer>

</body>

</html>