<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Pointer</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/showGroupSearchStyle.css">
    </head>

<body>

    <header>
        <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Site logo"></a>
        <br />
        <hr />
    </header>
            
    <div>
        <h1>Group</h1>
        {% if error == '0' %}
            <b>You have successfully joined the group!</b>
            <br />
            <br />
        {% endif %}
        {% if error == '1' %}
            <b>You are already in this group!</b>
            <br />
            <br />
        {% endif %}
        <img class="banner" src="{{ banner.url }}" alt="Group image">
        <p>Name: {{ groupName }}</p>
        <p>Key: {{ groupKey }} </p>
        <p>Description: {{ description }}</p>
        <br />
        <br />
        <a href="/ponteiro/{{ id }}/{{ groupKey }}_group/enter/">Enter</a>
        <br />
        <br />
    </div>

    <nav class="sidebar">
        <br />
        <br />
        <br />
        <img src="{{ picture.url }}" alt="Profile image">
        <a href="/ponteiro/{{ id }}/profile/">Profile</a>
        <a href="/ponteiro/{{ id }}/userSearch/">Search user</a>
        <a href="/ponteiro/{{ id }}/home/">Home</a>
        <a href="/ponteiro/{{ id }}/notifications/">Notifications</a>
        <a href="/ponteiro/{{ id }}/config/">Configurations</a>
        <a href="/ponteiro/{{ id }}/logout/">Logout</a>
    </nav>

    <footer>
        <hr />
        <i>IFSP POINTER &copy;</i>
    </footer>
</body>

</html>