<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/groupHomeStyle.css">
</head>

<body>

<header>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>   
    <br/>
    <h1>Bem-vindo ao grupo {{ groupName }}</h1>
    <hr/>
</header>

<nav class="sidebar">
    <br />
    <br />
    <br />
    <img src="{{ picture.url }}" alt="Imagem do perfil">
    <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
    <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuário</a>
    <a href="/ponteiro/{{ id }}/home/">Início</a>
    <a href="/ponteiro/{{ id }}/notifications/">Notificações</a>
    <a href="/ponteiro/{{ id }}/config/">Configurações</a>
    <a href="/ponteiro/{{ id }}/logout/">Sair</a>
</nav>

<nav class="topbar">
    <a href="/ponteiro/{{ id }}/group/{{ groupID }}/">Registrador</a>
    <a href="">Chat</a>
    <a href="">Mural</a>
    <a href="/ponteiro/{{ id }}/group/{{ groupID }}/data/">Dados</a>
    <a href="">Configurações</a>
</nav>

<main>
    <p>Aqui vai ficar o registrador!</p>
</main>

<footer>
    <hr />
    <i>PONTEIRO IFSP &copy;</i>
</footer>

</body>

</html>