<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/groupSearchStyle.css">
</head>

<body>

    <header>
        <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Logo do site"></a>
        <br />
        <br />
        <h1>Buscar grupo</h1>
        <hr />
    </header>
            
    {% if error == '1' %}
        <b>Por favor, informe a chave do grupo</b>
        <br />
        <br />
    {% endif %}

    {% if error == '2' %}
        <b>Grupo não encontrado</b>
        <br />
        <br />
    {% endif %}

    <form action="{% url 'groupsearchValidate' id=id%}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Chave: " name="key">
        <input type="submit" value="Buscar">
    </form>

    <nav class="sidebar">
        <br />
        <br />
        <br />
        <img src="{{ picture.url }}" alt="Imagem do perfil">
        <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
        <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuário</a>
        <a href="/ponteiro/{{ id }}/home/">Início</a>
        <a href="/ponteiro/{{ id }}/notifications/">Notificações</a>
        <a href="/ponteiro/{{ id }}/config/">Configurações</a>
        <a href="/ponteiro/{{ id }}/logout/">Sair</a>
    </nav>

    <footer>
        <hr />
        <i>PONTEIRO IFSP &copy;</i>
    </footer>
</body>

</html>