<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/homeStyle.css">
</head>

<body>

<header>
    <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Logo do site"></a>
    <h1>Bem-vindo, {{ id }}</h1>
</header>

<nav class="sidebar">
    <br />
    <br />
    <br />
    <img src="{{ picture.url }}" alt="Imagem do perfil">
    <a href="/ponteiro/{{ id }}/profile/">Perfil</a>
    <a href="/ponteiro/{{ id }}/userSearch/">Buscar usuário</a>
    <a href="/ponteiro/{{ id }}/home/">Início</a>
    <a href="/ponteiro/{{ id }}/notifications/">Notificações</a>
    <a href="/ponteiro/{{ id }}/config/">Configurações</a>
    <a href="/ponteiro/{{ id }}/logout/">Sair</a>
</nav>

<main>
    {% if error == '0' %}
        <p>Você saiu do grupo com sucesso!</p>
    {% endif %}
    {% if error == '1' %}
        <p>Entre no grupo antes de tentar acessá-lo!</p>
    {% endif %}
    <hr />
    <a href="/ponteiro/{{ id }}/home/createGroup/">Criar grupo</a>
    <a href="/ponteiro/{{ id }}/home/groupSearch/">Buscar grupo</a>
    <br />
    <br />
    <br />
    <div class="groups">
        <h1>Grupos: </h1>
        </br>
        {% if groups %}
            {% for gpName, gpID in groupList %}
                <a href="/ponteiro/{{ id }}/group/{{ gpID }}">{{ gpName }}</a><br/><br/>
            {% endfor %}
        {% else %}
            <p>{{ groupList }}</p>
        {% endif %}
    </div>
</main>

<footer>
    <hr />
    <i>PONTEIRO IFSP &copy;</i>
</footer>

</body>

</html>