<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Ponteiro</title>
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
    <img src="{% static 'img/logo.png' %}" alt="Logo do site">
</head>

<body>
        <div> 
            <a href="/ponteiro/register"> <button>Mudar para Cadastro</button> </a>
            <hr />

            <form action="{% url 'loginValidate' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Identificador: " name="userlogin">
                <input type="password" placeholder="Senha: " name="userpass">
                <input type="submit" value="Entrar">
            </form>
        </div>
</body>

<footer>
    <hr />
    <i>PONTEIRO IFSP &copy;</i>
</footer>

</html>