<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Pointer</title>
    <link rel="stylesheet" href="{% static 'css/' %}{{ theme }}/homeStyle.css">
</head>

<body>

<header>
    <a class="imghome" href="/ponteiro/{{ id }}/home"><img src="{% static 'img/logo.png' %}" alt="Site logo"></a>
    <h1>Welcome, {{ id }}</h1>
</header>

<nav class="sidebar">
    <br />
    <br />
    <br />
    <img src="{{ picture.url }}" alt="Profile image">
    <a href="/ponteiro/{{ id }}/profile/">Profile</a>
    <a href="/ponteiro/{{ id }}/userSearch/">Search user</a>
    <a href="/ponteiro/{{ id }}/home/">Home</a>
    <a href="/ponteiro/{{ id }}/notifications/">Notifications</a>
    <a href="/ponteiro/{{ id }}/config/">Configurations</a>
    <a href="/ponteiro/{{ id }}/logout/">Logout</a>
</nav>

<main>
    <hr />
    <p>Main content will be placed here!</p>
</main>

<footer>
    <hr />
    <i>IFSP POINTER &copy;</i>
</footer>

</body>

</html>