<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Pointer</title>
    <link rel="stylesheet" href="{% static 'css/titleStyle.css' %}">
</head>

<body>

    <header>
        <img src="{% static 'img/logoTitle.png' %}" alt="Site logo">
    </header>
    
    <main>
        <h1>Pointer</h1>
        <a href='/ponteiro/login'>Access</a>
    </main>

    <footer>
        <br />
        <hr />
        <i>IFSP POINTER &copy;</i>
        <br />
        <a href='https://github.com/entomo05/Ponteiro' target="_blank">> Repository <</a>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="language">
        <p>Language:</p>
        <a href="/ponteiro/?language=pt">Português</a>
        <a href="/ponteiro/?language=en">English</a>
        <a href="/ponteiro/?language=es">Español</a>
        </div>
    </footer>

</body>

</html>